*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 2rem;
}
textarea{
    background-color: transparent;
    color: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: auto;
}
p{
    background-color: transparent;
    color: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    width: 200px;
    height: 60px;

}