body {
  transition: 0.3s;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 400px;
  margin: auto;
}

.light {
  background-color: hwb(292 64% 7%);
  color: #000000;
}

.dark {
  background-color: #121212;
  color:hwb(292 64% 7%);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(150, 26, 208);
  color: white;
}
button:hover{
    background-color: rgb(157, 20, 242);
}
