body {
 background: linear-gradient(to right, #cbe3ef, #96c1ec);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 300px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 285px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
    background-color: rgb(35, 157, 250);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
